.books_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    margin-right: 5rem;
    margin-left: 5rem;
    max-width: 80vw;
    position: relative;
}

.book-item {
    display: grid;
    grid-template-rows: auto 1fr;
}

.browse-all-image {
    border-radius: 6px;
}

.image-container {
    position: relative;
    width: 100%;
    min-width: 150px;
    box-shadow: 6px 6px 5px #8787878f;
    border-radius: 5px;
}

.browse-all-image{
    border-radius: 7px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.book-title {
    font-weight: bold;
    word-wrap: break-word;
    padding: 10px;
}

.rating {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.delete_book_shelf_container{
    position: absolute;
    top: 6%;
    left: 75%;
    color: red !important;
    transform: scale(1.2);
    visibility: hidden;
}
.book-container:hover .delete_book_shelf_container{
    visibility: visible;
    
    color: #ffffff;
}

.delete_book_shelf_container:hover {
    transform: scale(1.45);
    transition: transform .2s ease-in-out;
}
.book-container:hover .delete_book_shelf_container:hover{
    visibility: visible;
    color: #d5d5d5;
}
.book-container:hover .image-container img  {
    filter: brightness(0.28);
    transform: scale(1.05);
}

.book-container{
    transition: transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.book-container:hover .image-container {
    box-shadow: 12px 12px 9px #8787878f;
}
.book-container:hover{
    cursor: pointer;
    transform: scale(1.05);
    /* background-color: #e4e4e4; */
}

.book-container:hover .rating {
    opacity: 1;
    visibility: visible;
}

.rating {
    z-index: 10;
}

.star_rating{
    margin-left: 1rem;
    color:#dfdf01;
    transform: translateY(-2.15rem) scale(1.3);
}