.indv_out-container {
    display: grid;
    background-color: #e7e5e5;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    border-radius: 10px;
    min-width: 38rem;
    min-height: 35rem;
    margin-bottom: 2rem;
}

.indv_book-title {
    margin-top: 1rem;
    margin-left: 1rem;
}

.indiv_book_author {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.5em;
}

.indv_details-container {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(1, 31rem auto);
    grid-template-columns: 20rem 1fr;
    margin-left: 1rem;
}

.indv_image-container {
    width: 20rem;
    position: relative;
    min-width: 150px;
    max-height: 30rem;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.indv_image-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
}

.indv_image-container:hover #book-img {
    filter: brightness(0.4);
}
.indv_icons {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 2rem);
    grid-column-gap: 1rem;
    top: 80%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.indv_image-container:hover .indv_icons {
    opacity: 1;
    visibility: visible;
}
.indv_image-container:hover .indv_book_mark_ico {
    opacity: 1;
    visibility: visible;
}
.indv_image-container:hover .indv_favorite_ico {
    opacity: 1;
    visibility: visible;
}

.indv_book_mark_ico {
    z-index: 10;
    margin-left: 1rem;
    cursor: pointer;
}

.indv_favorite_ico {
    z-index: 10;
    margin-left: 1rem;
    cursor: pointer;
}

.indv_rating_stars {
    margin-top: 1rem !important;
}

.indv_add_to_shelf {
    display: flex;
    padding: 10px;
    background-color: transparent; /* Set the background color as needed */
    color: black; /* Set the text color */
    border: 2px solid #292929; /* Border style */
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    font-family: sans-serif;
    max-width: 12rem;
    margin-left: 4.2rem;
    justify-content: space-evenly;
}

.indv_add_to_shelf:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
}
.indv_synopsis {
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    max-height: 32rem;
}
.indv_synopsis_text {
    margin-bottom: 1.5rem;
    overflow-y: scroll;
}

.indv_genres-list {
    margin-top: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 8rem);
}

.indv_genre {
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    padding: 4px 8px;
    border: 2px solid #ccc; /* Border style */
    border-radius: 4px; /* Optional: Add rounded corners */
    margin-right: 1rem;
}
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 10px;
}
.modal-modal-title {
    margin-bottom: 1.5rem !important;
    display: flex !important;
    justify-content: space-evenly;
    position: relative;
    left: 52px;
    top: 10px;
}
.indv_submit_button {
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    padding: 4px 10px;
    border-radius: 1rem;
    border: 2px solid #ccc;
}
.indv_submit_button:hover {
    background-color: #dde1e8;
}

.indv_shelf_row {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adjust the margin as needed */
    margin-left: 5.05rem;
}

.indv_shelf_name {
    margin-left: 8px; /* Adjust the margin as needed */
}

.indv_new_shelf_input,
.indv_new_shelf_input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.indv_submit_button_success {
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    padding: 4px 10px;
    border-radius: 1rem;
    background-color: #50f56a;
    border: 2px solid green;
}

.close-icon-details {
    position: relative;
    left: 30px;
}

.close-icon-details:hover {
    cursor: pointer;
}
