.container {
    padding-left: 0;
    margin: 0 !important;
    display: flex;
    align-items: initial;
    flex-direction: unset;
    justify-content: initial;
    width: 200px !important;
    padding-right: 0;
    min-width: 200px;
}

.card {
    border-radius: 0;
    min-width: 100%;
    min-height: calc(100vh - 64px); /* Adjust based on your actual navbar height */
    overflow-y: scroll;
}

.title{
    padding-left: 4rem;
    font-weight: bold;
}
.card-header{
    margin-bottom: 1.2rem;
    height: 2rem;
}
.card-body{
    overflow-y: scroll;
    max-height: 28rem;
}