.rounded-search {
    border-radius: 50px;
}

.custom-dropdown{
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* Home.css */
.header-background {
    background-image: url('../assets/no_background.png'); /* Replace 'path-to-your-image.jpg' with the actual path to your image file. */
    background-size: cover; /* Adjust the background size to cover the entire header. */
    background-position: center; /* Center the background image. */
    background-repeat: no-repeat; /* Prevent background image from repeating. */
  }
  

#dropdown-autoclose-true{
    font-size: 1.25rem;
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}
#dropdown-autoclose-true:hover{
    background-color: transparent;
}

