.rounded-search-btn {
    border-radius: 50px;
    border-width: 1px;
    margin-right:7px;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #1F2232 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(86 81 229 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #709dff var(--tw-gradient-to-position);
    padding: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    
}

.home__scroll {
    margin-left: 5vw;
    margin-top: 60vh;
}

@keyframes scroll {
    0% {
        transform : translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.wheel {
    animation : scroll 2s ease infinite;
}



.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color)
}

.rounded-search-bar {
    border-radius: 50px;
    border:solid 2px #888888;
}

.button--flex {
    align-items: center;
    display: inline-flex;
}

.navbar-search-container{
    max-width: 60px;
}

.navbar-search-container:hover, .navbar-search-container:focus, .navbar-search-container:active {
    transition: max-width .4s ease-in-out;
    max-width: 320px;
}

.navbar-searching{
    transition: max-width .4s ease-in-out;
    max-width: 320px;
}

.navbar-input-text {
    visibility: hidden;
}

.navbar-search-container:hover .navbar-input-text {
    transition: all .5s ease-in-out;
    visibility: visible;
}


.navbar-input-text-active {
    transition: all .5s ease-in-out;
    visibility: visible !important;
}
.navbar-search-bar {
    width: 80%;
    height: 48px;
    border-radius: 25px;
}
.rounded-search-bar:focus{
    outline: none;
}
.navbar-search-container:hover .navbar-search-bar
{
    width:96%;
}

.navbar-search-bar-active {
    width:96%;
    height: 48px;
    border-radius: 25px;
}

.navbar-placeholder-text {
    margin-left: 10px;
    outline: none;
    outline-offset: 2px;
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    --bs-bg-opacity: 1;
    background-color: transparent!important;
    visibility: hidden;
}

.navbar-search-button {
    border-radius: 50px;
    border-width: 1px;
    position: absolute;
    right: 38px;
    top: 11px;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #1F2232 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(86 81 229 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #709dff var(--tw-gradient-to-position);
    padding: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.placeholder-text {
    margin-left: 10px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    flex-grow: 1;
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}

.custom-dropdown{
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.placeholder-text:focus {
    outline: none;
}



.nav-bar-item {
    margin-right:15px;

}
.nav-bar-item:hover{
    color: white !important;
    text-decoration: none !important;
}

/* Home.css */
.header-background {
    background-image: url('../assets/no_background.png'); /* Replace 'path-to-your-image.jpg' with the actual path to your image file. */
    background-size: cover; /* Adjust the background size to cover the entire header. */
    background-position: center; /* Center the background image. */
    background-repeat: no-repeat; /* Prevent background image from repeating. */
  }
  

#dropdown-autoclose-true{
    font-size: 1.25rem;
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
#dropdown-autoclose-true:hover{
    background-color: transparent;
}

.bg-main {
    background-color: #FDFDFF;
}

.home-nav-bar {
    background-color: #1F2232;
    color:black;
    height: 4rem;
}

.navbar-center-items {
    position: absolute;
    left: 42%;
}