.main-container-search-results {
    padding-top: 30px;
    display: grid;
    flex-direction: column;
}

.main-book-container {
    display: grid;
    margin-top: 50px;
    row-gap: 28px;
    grid-column-gap: 0rem;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5%;
    width: 95%;
}

.search-results-header {
    margin-left: 36px;
    margin-top: 5px;
}