.main-container-search-results {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.main-book-container {
    display: grid;
    margin-top: 50px;

    row-gap: 50px;
    column-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    width:85%;
}