.button-container {
    position: fixed;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; /* Adjust as needed */
 }

.shelf__title {
    font-size: 50px;
    color: #1f2232;
    text-align: center;
    margin-top: 1em;
}
