.button-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; /* Adjust as needed */
 }

.shelf__title {
    font-size: 50px;
    color: #1f2232;
    text-align: center;
    margin-top: 1em;
}

.image-filter {
    filter: brightness(1.0);
}

.book-spine {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.book-list-shelf-container {
    margin-top: 550px;
    margin-left:40px;

}

.shelf-separator {
    margin-top: 10px;
    margin-bottom: 50px;
    border-top: solid 2px lightgrey;
    width: 97%;
}

.shelf-book-list-h3 {
    margin-bottom: 30px;
    margin-left:15px;
}