.shelf__header {
    font-size: 50px;
    color: #1f2232;
    text-align: center;
    margin-top: 1em;
}

.shelf__img {
    transform: scale(0.9, 0.9);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

.shelf__book-title {
    font-family: cursive;
    color: #ffffff;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: -225%;
    margin-left: 40%;
}

.shelf__book-spine {
    width: 8rem;
    position: absolute;
    top: 25%;
    left: 50%; /*calculate the num of books from the left*/
}