* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mobile-width: 325px;
    --mobile-height: 670px;
    --mobile-radius: 25px;
    --separator-height: 500px;

    --bg: rgba(243, 181, 168, 0.427);
    --mobile-bg: rgb(255, 217, 208);
    --intro-bg: rgb(255, 217, 208);
    --font-color: #807b7b;

    --transition: transform 0.7s ease-in-out;
}

.container-smallBook {
    display: flex;
    margin-left:85px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    max-width: 13rem;
}

.info {
    font-family: "Quicksand", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 26px;
    margin-top: 10px;
    color: var(--font-color);
}

.link-no-underline {
    text-decoration: none !important;
    color: inherit !important;
}


.mobile-layout {
    width: var(--mobile-width);
    height: var(--mobile-height);
    margin: 30px 0;
    margin-left: 0.5rem;
    border-radius: var(--mobile-radius);
    perspective: 500px;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--mobile-bg);
    box-shadow: 36px 36px 36px 15px #ceb7b1d1;

    .book-cover {
        position: relative;
        margin-top: -26px;
        height: var(--separator-height);
        width: calc(var(--mobile-width) * 2);
        left: -52.5%;
        border-top-left-radius: var(--mobile-radius);
        border-top-right-radius: var(--mobile-radius);
        background-color: var(--intro-bg);
        transform-style: preserve-3d;
        transform-origin: 50% 40%;
        transition: var(--transition);
        z-index: 4;
    }

    .book-top {
        width: 220px;
        position: absolute;
        top: 110px;
        left: 220px;
        z-index: 5;
        transform: translateZ(28.5px);
    }

    .book-side {
        position: absolute;
        top: 431px;
        left: 184px;
        right: 833px;
        width: 292px;
        visibility:visible;
        transform: translateY(-13px) translateX(0px) translateZ(23px) rotateX(104deg);
        transition: visibility 5s;
    }

    .preface {
        height: var(--separator-height);
        padding-left: 40px;
        padding-top: 14px;
        transition: var(--transition);
        background: white;

        .header {
            display: flex;
            align-items: center;
        }

        .small_book_title {
            font-family: "Quicksand", sans-serif;
            font-size: 26px;
            margin-bottom: 10px;
        }

        .author {
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            margin-bottom: 20px;
        }

        .icon {
            transform-origin: top;
            transition: var(--transition);
            margin-right: 1rem;
            margin-left: 1rem;
        }

        .body {
            font-family: "Quicksand", sans-serif;
        }

        .body p:first-child {
            margin-bottom: 15px;
        }
    }
}

.mobile-layout:hover .book-cover {
    transform: rotateX(75deg) translateZ(3px) scale(0.75);
}

.mobile-layout:hover .book-side {
    position: absolute;
    top: 431px;
    left: 184px;
    right: 833px;
    width: 292px;
    visibility:visible;
    transform: translateY(-13px) translateX(0px) translateZ(23px) rotateX(104deg);
}

.mobile-layout:hover .book-cover+.preface {
    transform: translateY(-302px);

    .icon {
        transform: rotateX(180deg);
    }
}

/* .mobile-layout:hover .preface {
    padding-left: 28px;
    background: white;
    padding-right: 15px;
    margin-top: -22px;
} */

.mobile-layout:hover .book_mark_ico {
    position: relative;
    left: 208px;
    top: 380px;
    display:block;
    width: 50px;    
}

.mobile-layout:hover .favorite_ico {
    position: relative;
    left: 151px;
    top: 330px;
    display:block;
    width: 50px;    
}

.book_mark_ico:hover {
    transition: all 500ms;
    width: 55px !important;
    left: 205px !important;
    margin-top: -5px !important;
}

.favorite_ico:hover {
    transition: all 500ms;
    width: 55px !important;
    left: 148px !important;
    margin-top: -5px !important;
}

.book_mark_ico {
    display:none;
    cursor: pointer;
}

.favorite_ico {
    display:none;
    cursor: pointer;
}


